<html>
    <head>
        <title>Postcodes API</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <style media="screen">
        body {
          font-family: 'Roboto', sans-serif;
        }
        </style>
    </head>
    <body>
        <h1>Postcodes API</h1>
        <% @api = Postcodes.new %>
        <% @api.single_postcode.get_single_postcode('sw166rw')['result'].each do |key, value| %>
            <p> <%= "#{key} = #{value}" %> </p>
        <% end %>
    </body>
</html>
